In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("full_report.csv")
print(df.shape)

(67, 17)

In [3]:
df.columns

Index(['number', 'date_time', 'new_cases', 'new_deaths', 'recovered', 'active',
       'deaths', 'suspicious', 'accumulated', 'discarted', 'beni',
       'chuquisaca', 'cochabamba', 'la_paz', 'pando', 'santa_cruz', 'tarija'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   number       67 non-null     object
 1   date_time    67 non-null     object
 2   new_cases    66 non-null     float64
 3   new_deaths   67 non-null     object
 4   recovered    67 non-null     float64
 5   active       67 non-null     float64
 6   deaths       67 non-null     float64
 7   suspicious   67 non-null     float64
 8   accumulated  67 non-null     object
 9   discarted    67 non-null     float64
 10  beni         39 non-null     object
 11  chuquisaca   51 non-null     object
 12  cochabamba   49 non-null     object
 13  la_paz       38 non-null     object
 14  pando        47 non-null     object
 15  santa_cruz   59 non-null     object
 16  tarija       24 non-null     object
dtypes: float64(6), object(11)
memory usage: 9.0+ KB

In [5]:
df.sort_values(by="number")

,number,date_time,new_cases,new_deaths,recovered,active,deaths,suspicious,accumulated,discarted,beni,chuquisaca,cochabamba,la_paz,pando,santa_cruz,tarija
33,N° 267,Lunes 07 de diciembre de 2020 (21:30},NaN,HOY +2,124.981,11.679,8.997,803.000,145.657,222.976,NaN,NaN,16,NaN,NaN,NaN,NaN
29,N° 268,Martes 08 de diciembre de 2020 (21:30),189.000,HOY +5,125.230,11.614,9.002,936.000,145.846,224.064,NaN,14,4,ai,NaN,96,NaN
27,N° 269,Miércoles 09 de diciembre de 2020 (21:30),214.000,HOY +2,125.490,11.566,9.004,793.000,146.060 —,225.219,NaN,NaN,15,NaN,NaN,141,NaN
46,N° 270,Jueves 10 de diciembre de 2020 (21:30),325.000,HOY +4,125.716,11.661,9.008,942.000,146.385,226.908,NaN,2,NaN,NaN,NaN,161,14
24,N° 271,Viernes 11 de diciembre de 2020 (21:30),312.000,HOY +5,125.886,11.798,9.013,1.091,146.697 —,228.133,NaN,16,17,NaN,NaN,186,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,N° 329,"Domingo, 07 de febrero de 2021 (20:45)",839.000,HOY +43,168.040,49.131,10.796,1.771,227.967 ©,374.012,14,104,NaN,350,33,n7,NaN
45,N° 330,"Lunes, 08 de febrero de 2021 (20:30)",1.220,HOY +68,169.415,48.908,10.864,2.251,229.187 ©,377.536,NaN,92,35,286,10,477,98
54,N° 331,"Martes, 09 de febrero de 2027 (20:45)",1.544,HOY +65,170.972,48.830,10.929,2.488,230.731,382.857,38,91,151,NaN,14,685,105
26,N° 332,"Miércoles, 10 de febrero de 2021 (21:00)",1.771,HOY +67,172.710,48.796,10.996,2.547,232.502,389.153,43,94,197,410,25,665,100
28,N° 335,"Sdbado, 13 de febrero de 2021 (20:30)",938.000,HOY +48,177.282,47.599,11.155,1.879,236.036,402.333,27,81,119,NaN,NaN,31,61

In [14]:
df['num'] = df['number'].map(lambda number: number.split(" ")[1])
correct_nums = {"29¢": "299"}
df['num'] = df['num'].replace(correct_nums).astype(int)

298
275
274
280
287
321
299
288
320
307
313
295
326
327
311
312
314
292
297
305
300
310
323
319
271
281
332
269
335
268
304
291
324
267
278
325
282
301
286
316
306
276
315
283
294
330
270
289
272
308
317
279
309
322
331
273
329
285
277
284
293
296
303
290
302
318
328

In [16]:
df.sort_values(by='num')

,number,date_time,new_cases,new_deaths,recovered,active,deaths,suspicious,accumulated,discarted,beni,chuquisaca,cochabamba,la_paz,pando,santa_cruz,tarija,num
33,N° 267,Lunes 07 de diciembre de 2020 (21:30},NaN,HOY +2,124.981,11.679,8.997,803.000,145.657,222.976,NaN,NaN,16,NaN,NaN,NaN,NaN,267
29,N° 268,Martes 08 de diciembre de 2020 (21:30),189.000,HOY +5,125.230,11.614,9.002,936.000,145.846,224.064,NaN,14,4,ai,NaN,96,NaN,268
27,N° 269,Miércoles 09 de diciembre de 2020 (21:30),214.000,HOY +2,125.490,11.566,9.004,793.000,146.060 —,225.219,NaN,NaN,15,NaN,NaN,141,NaN,269
46,N° 270,Jueves 10 de diciembre de 2020 (21:30),325.000,HOY +4,125.716,11.661,9.008,942.000,146.385,226.908,NaN,2,NaN,NaN,NaN,161,14,270
24,N° 271,Viernes 11 de diciembre de 2020 (21:30),312.000,HOY +5,125.886,11.798,9.013,1.091,146.697 —,228.133,NaN,16,17,NaN,NaN,186,2,271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,N° 329,"Domingo, 07 de febrero de 2021 (20:45)",839.000,HOY +43,168.040,49.131,10.796,1.771,227.967 ©,374.012,14,104,NaN,350,33,n7,NaN,329
45,N° 330,"Lunes, 08 de febrero de 2021 (20:30)",1.220,HOY +68,169.415,48.908,10.864,2.251,229.187 ©,377.536,NaN,92,35,286,10,477,98,330
54,N° 331,"Martes, 09 de febrero de 2027 (20:45)",1.544,HOY +65,170.972,48.830,10.929,2.488,230.731,382.857,38,91,151,NaN,14,685,105,331
26,N° 332,"Miércoles, 10 de febrero de 2021 (21:00)",1.771,HOY +67,172.710,48.796,10.996,2.547,232.502,389.153,43,94,197,410,25,665,100,332
28,N° 335,"Sdbado, 13 de febrero de 2021 (20:30)",938.000,HOY +48,177.282,47.599,11.155,1.879,236.036,402.333,27,81,119,NaN,NaN,31,61,335